# lightning.pytorch==2.1.1
seed_everything: 0
trainer:
  accelerator: auto
  strategy: auto
  devices: auto
  num_nodes: 1
  callbacks: []
  max_epochs: 0

data:
  class_path: gelos.gelosdatamodule.GELOSDataModule
  init_args:
    batch_size: 1
    num_workers: 0
    bands:
      S2L2A:
      - COASTAL_AEROSOL
      - BLUE
      - GREEN
      - RED
      - RED_EDGE_1
      - RED_EDGE_2
      - RED_EDGE_3
      - NIR_BROAD
      - NIR_NARROW
      - WATER_VAPOR
      - SWIR_1
      - SWIR_2
      S1RTC:
      - VV
      - VH
      DEM:
      - DEM  
    repeat_bands:
      DEM: 4
    target_size: 96

model:
  class_path: terratorch.tasks.EmbeddingGenerationTask
  title: Terramind V1 Base
  init_args:
    model: terramind_v1_base 
    model_args:
      modalities:
        - S2L2A
        - S1RTC
        - DEM
      merge_method: mean
      pretrained: True
    output_format: parquet
    embed_file_key: filename
    layers: [-1] # Model layers to extract embeddings from, -1 means the last layer
    embedding_pooling: null
    has_cls: False
    temporal_cfg: 
      temporal_wrapper: True
      temporal_pooling: keep


# define embedding extraction strategy names and lists of arguments for the embedding extraction function
embedding_extraction_strategies:
  All Steps of Middle Patch:
    - start: 0
      stop: null
      step: 1
    - start: 18
      stop: 19
      step: 1
  All Patches from April to June:
    - start: 1
      stop: 2
      step: 1 
  All Embeddings:
    - start: 0
      stop: null
      step: 1